@model PagedList.IPagedList<MvcGlAtelier2023.Models.ClientViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "listerClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>listerClient</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@using (Html.BeginForm())
{


<div class="form-horizontal">
    <div class="form-group">
        @Html.Label("Prenom", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("Prenom", new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Nom", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("Nom", new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Rechercher" class="btn btn-default" />
        </div>
    </div>
</div>
}
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().NomPers)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().PrenomPers)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().AdresPers)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().EmailPers)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().telPers)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Sexe)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NomPers)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrenomPers)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdresPers)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailPers)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.telPers)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sexe)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.IdPers }) |
                        @Html.ActionLink("Details", "Details", new { id = item.IdPers }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.IdPers })
                    </td>
                </tr>
            }

        </table>
        <br />
        Page @(Model.PageCount<Model.PageNumber? 0 :Model.PageNumber) / @Model.PageCount;
        @Html.PagedListPager(Model, page => Url.Action("listerClient", new { page ,Nom =ViewBag.Nom , Prenom =ViewBag.Prenom}))
